<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-location-heading">Create or edit a Location</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_branchName">Branch Name</label>
                    <input type="text" class="form-control" name="branchName" id="field_branchName"
                           formControlName="branchName"/>
                    <div *ngIf="editForm.get('branchName')!.invalid && (editForm.get('branchName')!.dirty || editForm.get('branchName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('branchName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_blkNo">Blk No</label>
                    <input type="text" class="form-control" name="blkNo" id="field_blkNo"
                           formControlName="blkNo"/>
                    <div *ngIf="editForm.get('blkNo')!.invalid && (editForm.get('blkNo')!.dirty || editForm.get('blkNo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('blkNo')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_streetName">Street Name</label>
                    <input type="text" class="form-control" name="streetName" id="field_streetName"
                           formControlName="streetName"/>
                    <div *ngIf="editForm.get('streetName')!.invalid && (editForm.get('streetName')!.dirty || editForm.get('streetName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('streetName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_postalCode">Postal Code</label>
                    <input type="number" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                    <div *ngIf="editForm.get('postalCode')!.invalid && (editForm.get('postalCode')!.dirty || editForm.get('postalCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('postalCode')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('postalCode')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
